@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

body {
    background-image: url("https://i.pinimg.com/originals/08/10/28/08102835e1c86ee24784dbf6636aa748.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }

p {
    color: #ffffff;
    font-family: Butcherman;
    text-align: center;
    font-size: 10em;
  }

.imgs {
    padding: 100px;
}